.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  width: 600px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 15%);
  border-radius: 6px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(8px);
}

.modal-header {
  padding: 16px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 10%);
  padding-left: 30px;
  font-size: 20px;
}

.modal-body {
  padding: 20px;
  color: rgba(0, 0, 0, 90%);
  padding-left: 30px;
}

.modal-footer {
  padding: 20px;
  display: flex;
  flex-direction: row-reverse;
}

.modal-button {
  padding: 10px 70px;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 15px;
  color: white;
  font-weight: 600;
  border-radius: 4px;
}

.modal-button:active {
  transform: translateY(1px);
}

.cancel-button {
  background: rgb(79, 79, 255);
  margin-right: 20px;
}

.delete-button {
  background: rgb(231, 4, 4);
}

.cancel-button:hover {
  background: rgb(42, 42, 182);
}

.delete-button:hover {
  background: rgb(161, 9, 9);
}

.form {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
}

.modal-input {
  border: 1px solid rgba(0, 0, 0, 15%);
  border-radius: 4px;
  padding: 10px 20px;
  width: 240px;
}

.modal-input:focus-visible {
  outline: 1px;
  border: 1px solid rgba(0, 0, 0, 85%);
}

.no-button {
  background: rgba(0, 0, 0, 25%);
  margin-right: 20px;
}

.no-button:hover {
  background: rgba(0, 0, 0, 50%);
  margin-right: 20px;
}
